<div class='row'>

  <div class='col-md-6'>
    <div class='panel panel-default'> <!-- Whos Online -->
      <div class='panel-heading'>
        Who's Online
      </div>
      <div class='panel-body'>
        <%=  @logged_in_users.pluck(:username, :id).map { |username, id| "#{link_to(username, user_path(id))}" }.join(', ').html_safe %>
      </div>
    </div>
    <div class='panel panel-default'> <!-- Ongoing Chats -->
      <div class='panel-heading'>
        Your Conversations
      </div>
      <div class='panel-body'>
        <table class='table table-striped table-condensed'>
          <thead>
            <tr>
              <th>with</th>
              <th>updated</th>
              <th>created</th>
            </tr>
          </thead>
          <tbody>
            <% @chats.each do |chat| %>
              <tr>
                <td><%= link_to chat.users.without_user(current_user).pluck(:username).join(', '), chat %></td>
                <td><%= time_ago_in_words(chat.updated_at) %> ago</td>
                <td><%= time_ago_in_words(chat.created_at) %> ago</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class='panel-footer'>
        <%= link_to 'New Chat', new_chat_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>



  <div class='col-md-6'>
    <div class='panel panel-default'> <!-- Global Chat -->
      <div class='panel-heading'>
        Global Chat
      </div>
      <div class='panel-body' style="height: 300px; overflow-y: scroll">
        <ul class='media-list'>
        </ul>
      </div>
      <div class='panel-footer'>
        <%= simple_form_for @new_message, url: home_index_path, remote: true do |f| %>
          <div class="form-group">
            <%= f.text_field :body, rows: 3, class: 'form-control', required: true, maxlength: 2000 %>
            <%= f.input :user_id, as: :hidden %>
          <!-- <small class="label label-warning">Cannot be blank or contain more than 2000 symbols.</small> -->
          </div>
          <%= f.submit 'Send', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= javascript_tag do %>
  window.client = new Faye.Client('/faye');
  client.addExtension({
    outgoing: function(message, callback) {
      message.ext = message.ext || {};
      message.ext.csrfToken = $('meta[name=csrf-token]').attr('content');
      return callback(message);
    }
  });

  $(function() {
    //$('.panel-body').animate({ scrollTop: $('.panel-body')[0].scrollHeight}, 1000);
    $('#new_message').submit(function() {
      return $(this).find("input[type='submit']").val('Sending...').prop('disabled', true);
    });
    try {
      client.unsubscribe('/chats/global');
    }
    catch (_error) {
      if (typeof console !== "undefined" && console !== null) {
        console.log("Can't unsubscribe.");
      }
    }
    client.subscribe('/chats/global', function(payload) {
      if (payload.message) {
        $('.media-list').prepend(payload.message);
        //$('.panel-body').animate({ scrollTop: $('.panel-body')[0].scrollHeight}, 1000);
      }
    });
  });
<% end %>

